.container{
  max-width: 1200px;
  margin: 0 auto;
}
.search-bar {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.search-bar form {
  display: flex;
  flex-direction: column;
}

.image-list {
  columns: 6 200px;
  column-gap: 10px;
}

img {
  width: 100%;
  margin-bottom: 10px;
}
